<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>User settings for [<b>{{settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" ng-show="success">
                <strong>Settings saved!</strong>
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="error">
                <strong>An error has occurred!</strong> Settings could not be saved.
            </div>

            <form name="form" role="form" novalidate ng-submit="save()" show-validation>

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName"
                           placeholder="Your first name"
                           ng-model="settingsAccount.firstName" ng-minlength=1 ng-maxlength=50 required maxlength="50">

                    <div ng-show="form.firstName.$dirty && form.firstName.$invalid">
                        <p class="help-block"
                           ng-show="form.firstName.$error.required">
                            Your first name is required.
                        </p>

                        <p class="help-block"
                           ng-show="form.firstName.$error.minlength">
                            Your first name is required to be at least 1 character.
                        </p>

                        <p class="help-block"
                           ng-show="form.firstName.$error.maxlength">
                            Your first name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your last name"
                           ng-model="settingsAccount.lastName" ng-minlength=1 ng-maxlength=50 required maxlength="50">

                    <div ng-show="form.lastName.$dirty && form.lastName.$invalid">
                        <p class="help-block"
                           ng-show="form.lastName.$error.required">
                            Your last name is required.
                        </p>

                        <p class="help-block"
                           ng-show="form.lastName.$error.minlength">
                            Your last name is required to be at least 1 character.
                        </p>

                        <p class="help-block"
                           ng-show="form.lastName.$error.maxlength">
                            Your last name cannot be longer than 50 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your e-mail"
                           ng-model="settingsAccount.email" ng-minlength=5 ng-maxlength=100 required maxlength="100">

                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                           ng-show="form.email.$error.required">
                            Your e-mail is required.
                        </p>

                        <p class="help-block"
                           ng-show="form.email.$error.email">
                            Your e-mail is invalid.
                        </p>

                        <p class="help-block"
                           ng-show="form.email.$error.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>

                        <p class="help-block"
                           ng-show="form.email.$error.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Max day calories</label>
                    <input class="form-control" id="maxCal" name="maxCal" placeholder="Max calories"
                           ng-model="settingsAccount.maxCal" required type="number">

                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                           ng-show="form.email.$error.required">
                            Max calories value should be bigger than zero
                        </p>

                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>

</div>
