<div ng-cloak xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-12">
            <h1>Entries list <span class="glyphicon glyphicon-plus-sign"
                                   ui-sref="entries.edit()"></span></h1>

            <accordion close-others="oneAtATime">
                <div class="row panel-default" accordion-group heading="Show/hide filter">
                    <div class="col-md-8">
                        <div class="form-group">
                            Date from:
                            <input type
                                       ="date" ng-model="filter.dateFrom" class="form-control"/>
                        </div>
                        <div class="form-group">
                            Date to:
                            <input type="date" ng-model="filter.dateTo" class="form-control"/>
                        </div>
                        <div class="form-group">
                            Time from:
                            <input type="time" ng-model="filter.timeFrom" class="form-control"/>
                        </div>
                        <div class="form-group">
                            Time to:
                            <input type="time" ng-model="filter.timeTo" class="form-control"/>
                        </div>
                        <div has-authority="ROLE_APP_ADMIN" class="form-group">
                            User:
                            <select
                                ng-options="filterUser as (filterUser.firstName + ' ' + filterUser.lastName) for filterUser in users"
                                ng-model="filter.filterUser" class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div style="display: inline-block; width:0px; height: 100%; vertical-align: bottom"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" ng-click="clearFilter()" class="btn btn-warning btn-lg">Clear
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" ng-click="searchFilter()" class="btn btn-success btn-lg">Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion>
            <div id="empty-entries-list" ng-show="!entryList || entryList.length == 0">
                <div class="alert alert-warning">
                    No entries yet!
                </div>
            </div>
            <div id="entries-list" ng-hide="!entryList || entryList.length == 0">
                <table class="table table-bordered table-striped">
                    <thead>
                    <th>
                        Date & Time
                    </th>
                    <th>
                        Text
                    </th>
                    <th>
                        Calories
                    </th>
                    <th has-authority="ROLE_APP_ADMIN">
                        User
                    </th>
                    <th>
                        &nbsp;
                    </th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entry in entryList">
                        <td>
                            {{entry.entryDate | date:"MM/dd/yyyy h:mm"}}
                        </td>
                        <td>
                            {{entry.text}}
                        </td>
                        <td>
                            {{entry.calValue}}
                        </td>
                        <td has-authority="ROLE_APP_ADMIN">
                            {{entry.userFullName }}
                        </td>
                        <td>
                            <button type="submit"
                                    ui-sref="entries.edit({id:entry.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit"
                                    class="btn btn-primary btn-sm" ng-click="deleteEntry(entry.id)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
