<div ng-cloak xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-12">
            <h1>Daily View</h1>

            <div id="date-selector" class="row">
                <div class="col-sm-4">
                    <button class="button left-arrow-button pull-right" ng-click="chgDate(-1)"><span
                        class="glyphicon glyphicon-arrow-left "></span></button>
                </div>
                <div class="col-sm-4">
                    <input type="date" class="input-sm form-control" name="start" ng-model="currentDate"
                           ng-change="onChangeDate()" required/>
                </div>
                <div class="col-sm-4">
                    <button class="button right-arrow-button" ng-click="chgDate(1)">
                        <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
            <div class="line"></div>
            <div id="empty-entries-list" ng-show="!entryList || entryList.length == 0">
                <div class="alert alert-warning">
                    No entries yet!
                </div>
            </div>
            <div id="entries-list" ng-hide="!entryList || entryList.length == 0">
                <table class="table table-bordered table-striped">
                    <thead>
                    <th>
                        Date & Time
                    </th>
                    <th>
                        Text
                    </th>
                    <th>
                        Calories
                    </th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entry in entryList">
                        <td>
                            {{entry.entryDate}}
                        </td>
                        <td>
                            {{entry.text}}
                        </td>
                        <td>
                            {{entry.calValue}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-class="(total <= user.maxCal) ? 'alert-success' : 'alert-danger'" class="alert pull-right">
                <div>
                    Total: {{total}}
                </div>
                <div>
                    Planned: {{user.maxCal}}
                </div>
            </div>
        </div>
    </div>
</div>
