<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><span>kkalMeter</span> <span
                    class="navbar-version">v{{VERSION}}</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Home</span>
                    </a>
                </li>
                <li ui-sref-active="active"  has-any-authority="ROLE_USER, ROLE_APP_ADMIN" ng-switch-when="true">
                    <a ui-sref="entries" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="glyphicon glyphicon-list"></span>
                        <span class="hidden-sm">Entries</span>
                    </a>
                </li>
                <li ui-sref-active="active"  has-authority="ROLE_USER" ng-switch-when="true">
                    <a ui-sref="dailyview" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <span class="hidden-sm">Daily view</span>
                    </a>
                </li>
                <li ui-sref-active="active"  has-any-authority="ROLE_APP_ADMIN, ROLE_MANAGER" ng-switch-when="true">
                    <a ui-sref="user-management" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="hidden-sm">Users</span>
                    </a>
                </li>

                <li ng-class="{active: $state.includes('user')}" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings" data-toggle="collapse"
                                                                             data-target=".navbar-collapse.in"><span
                                class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span>Settings</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password" data-toggle="collapse"
                                                                             data-target=".navbar-collapse.in"><span
                                class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span>Password</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()"
                                                                             data-toggle="collapse"
                                                                             data-target=".navbar-collapse.in"><span
                                class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span>Sign out</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login" data-toggle="collapse"
                                                                              data-target=".navbar-collapse.in"><span
                                class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span>Sign in</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register" data-toggle="collapse"
                                                                              data-target=".navbar-collapse.in"><span
                                class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span>Register</span></a></li>
                    </ul>
                </li>

                <li ng-class="{active: $state.includes('admin')}" ng-switch-when="true" has-authority="ROLE_ADMIN"
                    class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="user-management" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                                class="glyphicon glyphicon-user"></span>
                            &#xA0;<span>User management</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="metrics" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                                class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span>Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                                class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span>Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                                class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span>Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                                class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span>Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs" data-toggle="collapse"
                                                       data-target=".navbar-collapse.in"><span
                                class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span>Logs</span></a></li>
                        <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs" data-toggle="collapse"
                                                                              data-target=".navbar-collapse.in"><span
                                class="glyphicon glyphicon-book"></span>
                            &#xA0;<span>API</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
